優勝は

<% if @n == 0 %>
<% @winners.each do |w| %>
<%= w.user.name %>です
<% end %>
<% else%>
<% @fff.each do |w| %>
<%= User.find(w).name %>です
<% end %>
<% end %>

罰ゲームは
<%= @regulation.punishment %>です

参加ユーザー
<% @group_users.each do |g| %>
<div class = "container">
<%= image_tag g.image.to_s %>
<%= g.name %>
</div>
<% end %>


<%= link_to "大会を終了する", post_image_path(@photos), method: :delete, class: "btn btn-default col-xs-12" %>