<div class="center">
<p>優勝は</p>
<% if @n == 0 %>
<% @winners.each do |w| %>
<p><%= w.user.name %>です</p>
<% end %>
<% else%>
<% @fff.each do |w| %>
<p><%= User.find(w).name %>です</p>
<% end %>
<% end %>

<p>罰ゲームは</p>
<p><%= @regulation.punishment %>です</p>

<p>参加ユーザー</p>
<% @group_users.each do |g| %>
<p><%= image_tag g.image.to_s, class: "user_icon" %></p>
<p><%= g.name %></p>
<% end %>
</div>

<%= link_to "大会を終了する", post_image_path(@photos), method: :delete, class: "btn btn-default col-xs-12" %>