<div class="center">
<h3>優勝は</h3>
<% if @n == 0 %>
<% @winners.each do |w| %>
<p><%= w.user.name %>です</p>
<%= image_tag w.user.image.to_s, class: "user_icon" %>
<% end %>
<% else%>
<% @fff.each do |w| %>
<p><%= User.find(w).name %>です</p>
<% end %>
<% end %>

<h3>罰ゲームは</h3>
<p><%= @regulation.punishment %>です</p>

<h3>参加ユーザー</h3>
<div class="row">
<% @group_users.each do |g| %>
<%= image_tag g.image.to_s, class: "user_icon" %>
<!-- <p><%= g.name %></p> -->
<% end %>
</div>
</div>

<%= link_to "大会を終了する", post_image_path(@photos), method: :delete, class: "btn btn-info col-xs-12", data: { confirm: 'グループのデータは削除されます。よろしいですか？' } %>