<div class="container">
<p>大会名</p>
<p><%= @group.group_name %></p>
<p>参加ユーザー</p>
<% @group_users.each do |g| %>
<div class="col-xs-2">
<%= image_tag g.image.to_s, class: "user_icon" %>
<p class="center"><%= g.name %></p>
</div>
<% end %>
</div>






<div class="container">
<p>ルール</p>
<%= form_for @regulation, url: regulations_path, method: :post do |f| %>
<p>勝敗</p><br>
<%= f.select :genre, [['大きさ勝負','size'],['数勝負','count']] %><br>
<p>罰ゲーム</p><br>
<%= f.text_field :punishment, :placeholder => "内容"%><br>
<!-- カレンダー -->
<p class="control-label" for="">終了予定日時</p><br>
<%= f.datetime_select :end_time, {} %><br>
<%= f.submit '大会を始める', class: "btn btn-info" %><br>
<% end %>


<p><%= link_to 'グループを削除',sakujyo_path(current_user.group_id), method: :post %></p>
<p><%= link_to 'グループを退出',taisyutsu_path(current_user.group_id), method: :post %></p>
</div>