<!-- 検索窓 -->
  <div class="search_container">
	<%= search_form_for @q do |f| %>

    <%= f.text_field :name_cont, placeholder: 'ユーザー名を入力...', class: "search-box" %>
    <i class="fa fa-search glyphicon glyphicon-search search-icon"><%= f.submit ("検索する"), id: "search-submit" %></i>

  <% end %>
  </div>


<% @users.each do |user| %>
	<div class="col-xs-3 center">
	<%= image_tag user.image.to_s, class: "user_icon" %><br>
	<%= user.name %><br>
	<%= user.introduction %><br>
	<%= link_to "詳細", user_path(user.id) %><br>

		<% if user.group_id == nil %>
			<%= form_for user, url: group_path(user.id), method: :PATCH do |c| %><br>
			<%= c.submit '招待' %><br>
			<% end %>
		<% end %>
	</div>
<% end %>


<%= link_to "ルールを決定", group_path(current_user), class: "btn btn-default col-xs-12" %>