<div class="col-xs-3 center">
<h3>User info</h3>
<%= image_tag @user.image.to_s, class: "user_icon" %><br>
<%= @user.name %><br>
<%= @user.introduction %><br>
<%= link_to "Edit", edit_user_path(@user),class: "btn btn-default active"%><br>

<% if @user.group_id == nil %>
	<%= form_for @group, url: groups_path, method: :post do |g| %><br>
	<%= g.text_field :group_name %><br>
	<%= g.submit 'グループ作成',class: "btn btn-default active" %><br>
	<% end %>
<% end %>
</div>