<div class="container">
<% if flash[:notice] %>
<div class="flash">
<%= flash[:notice] %>
</div>
<% end %>
</div>

<h2>User info</h2>
<%= image_tag @user.image.to_s %>
<%= @user.name %>
<%= @user.introduction %>
<%= link_to "Edit", edit_user_path(@user) %>

<% if @user.group_id == nil %>
<%= form_for @group, url: groups_path, method: :post do |g| %>
<%= g.text_field :group_name %>
<%= g.submit 'グループ作成' %>
<% end %>
<% end %>
