<div class="container">
<% if flash[:notice] %>
<div class="flash">
<%= flash[:notice] %>
</div>
<% end %>
</div>

<h2>User info</h2>
<%= image_tag @user.image.to_s %>
<%= @user.name %>
<%= @user.introduction %>
<%= link_to "Edit", edit_user_path(@user) %>


<h2>gmap</h2>
<%=ENV['Maps_JavaScript_API']%>

<!-- 地名入力用のinputを追加 -->
<input id="address" type="textbox" value="DMM WEBCAMP 難波">

<!-- buttonをクリックしたらcodeAddressを実行　-->
<input type="button" value="Encode" onclick="codeAddress()">
<div id='map'>
</div>

<style>
#map{
  height: 600px;
}
</style>

<script>
/*
mapを関数の外で定義(codeAddressでも使うため)
geocoderを用意
*/

let map
let geocoder

// function initMap(){
//   // geocoderを初期化
//   geocoder = new google.maps.Geocoder()

//   map = new google.maps.Map(document.getElementById('map'), {
//   center: {lat: 34.666871 , lng: 135.498838},
//   zoom: 18
//   });
// }







 function initMap() {

        var test ={lat: <%= EXIFR::JPEG.new(@feed.image.file.file).gps.latitude %>, lng: <%= EXIFR::JPEG.new(@feed.image.file.file).gps.longitude %>};
        <% binding.pry %>
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
    }







function codeAddress(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　　　　　　　　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);

　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>

<script src= <%= ENV['Maps_JavaScript_URL']%> async defer></script>