<div class="center">



<div class="title">USER INFO</div>
<%= image_tag @user.image.to_s, class: "user_icon center" %><br>
<p><%= @user.name %></p><br>
<p><%= link_to "プロフィール編集", edit_user_path(@user),class: "btn btn-default"%></p><br>

	<% if @user.group_id == nil %>
		<%= form_for @group, url: groups_path, method: :post do |g| %><br>
		<div class= "field form-group col-lg-4 col-lg-offset-4">
		<%= g.text_field :group_name, placeholder: 'グループ名 *',class: "form-control" %><br>
		</div>
		<%= g.submit 'グループ作成',class: "btn btn-info field form-group col-lg-4 col-lg-offset-4 col-xs-12" %><br>
		<% end %>
	<% else %>
		<p><span>現在<%= Group.find(@user.group_id).group_name %>に参加しています</span></p>
		<p><%= link_to 'グループ退出',taisyutsu_path(current_user.group_id), method: :post %></p>
	<% end %>
</div>