<div class="">
<%= image_tag post_image.fish_image.to_s, class: "fish_thumbnail" %><br>
<%= link_to "削除", history_path(@post_image.id), method: :delete, data: { confirm: '本当に消しますか？' } %>
</div>

<div class="">
<div class="title">DATA</div>
<div class="table-responsive col-lg-10 col-lg-offset-1">
	<table class="table">
		<thead>
		</thead>
		<tbody>
			<tr>
				<th>魚種</th>
				<td><%= post_image.fish_name %></td>
			</tr>
			<tr>
				<th>数</th>
				<td><%= post_image.count %>匹</td>
			</tr>
			<tr>
				<th>大きさ</th>
				<td><%= post_image.size %>センチ</td>
			</tr>
			<tr>
				<th>日時</th>
				<td><%= post_image.created_at %></td>
			</tr>
			<tr>
		</tbody>
	</table>
</div>
</div>