<div class="container">
<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>
</div>

<%= form_for(@post_image) do |f| %>
image
<%= f.label :fish_image %>
<%= f.file_field :fish_image %>

name
<%= f.text_field :fish_name, autofocus: true, placeholder:"魚種"%>
introduction
<%= f.text_field :count, autofocus: true %>
<%= f.text_field :size, autofocus: true %>
<%= f.submit "投稿する" %>
<% end %>


<% @photos.each do |photos| %>
<%= image_tag photos.fish_image.to_s %>
<!-- <%= photos.fish_image %> -->
<%= photos.fish_name %>
<%= link_to "Destroy", post_image_path(photos.id),class:"btn-sm btn-danger", method: :delete,data: { confirm: '本当に消しますか？' } %>
<% end %>