  <div class="center">
  <h3>大会名: <span><%= @group.group_name %></span></h3>
  </div>

  <div class="center">
  <h3>現時刻</h3>
      <h3 id="time"></h3>
      <script>
      time();
      function time(){
          var now = new Date();
          document.getElementById("time").innerHTML = now.toLocaleTimeString();
      }
      setInterval('time()',1000);
      </script>

  <h3>大会残り時間</h3>
  <h3><span class="countdown" data-date="<%= @time.end_time %>"></span></h3>
    <script>
    window.addEventListener('load',()=>{
      Countdown();
    })

    const Countdown = function(){
      const cd_areas = document.getElementsByClassName('countdown');
      [...cd_areas].forEach(cd_area=>{
        const target_unix = new Date(cd_area.dataset.date)/1000;
        setInterval(()=>{
          const now_unix = Math.floor(new Date()/1000);
          let sec = target_unix-now_unix;
          let cd_text = '';
          if (sec == 0) {
            alert('終了です!');
            // window.location.href = '/groups'
            return false;
          }
          if(sec>=86400){
            cd_text += Math.floor(sec/86400)+'日';
            sec = sec%86400;
          }
          if(sec>=3600){
            cd_text += td(Math.floor(sec/3600))+'時間';
            sec = sec%3600;
          }else{
            cd_text += '00時間';
          }
          if(sec>=60){
            cd_text += td(Math.floor(sec/60))+'分';
            sec = sec%60;
          }else{
            cd_text += '00分';
          }

          cd_text += td(sec)+'秒';
          cd_area.textContent = cd_text;
        },1000);
      });

      function td(x){
        if(x<10){
          return '0'+x;
        }else{
          return x;
        }
      }
    }
    </script>
  </div>


<div class="image_modal">
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#sampleModal">
    画像を投稿する
  </button>

  <!-- モーダル・ダイアログ -->
  <div class="modal fade" id="sampleModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
          <h4 class="modal-title">画像投稿</h4>
        </div>
        <div class="modal-body">
          <%= form_for(@p) do |f| %>
          <%= f.label :fish_image %>
          <%= f.file_field :fish_image %>
          <p>魚種<br><%= f.text_field :fish_name, autofocus: true, placeholder:"魚種"%></p>
          <p>数<br><%= f.text_field :count, autofocus: true, placeholder:"匹数" %></p>
          <p>大きさ<br><%= f.text_field :size, autofocus: true, placeholder:"センチ" %>
          </p><br>

          <div class="modal-footer">
            <%= f.submit "投稿する", class: "col-xs-12 btn btn-info" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'post_images/maps', photos: @photos %>

<div class="center">
  <h3>参加ユーザー</h3>
  <div class="row">
    <% @group_users.each do |g| %>
    <%= image_tag g.image.to_s, class: "user_icon group_users" %>
    <!-- <p><%= g.name %></p> -->
    <% end %>
  </div>
  <div class="row">
    <h3>投稿一覧</h3>
    <% @photos.each do |photo| %>
    <div class="col-xs-12 col-lg-3">
    <%= link_to post_image_path(photo.id) do %>
    <%= image_tag photo.fish_image.to_s, class: "fish_image" %><br>
    <% end %>
    <p><span>魚種 : <%= photo.fish_name %></span></p><br>
    <p><span>投稿者 : <%= User.find(photo.user_id).name %></span></p><br>
    <%= link_to "削除", physical_deleted_path(photo.id), class:"btn-sm btn-danger", method: :post, data: { confirm: '本当に消しますか？' } %>
    </div>
    <% end %>
  </div>
</div>

<div class="space_110">
</div>

<%= link_to "表彰ページへ", groups_path, class: "btn btn-info col-xs-12", data: { confirm: 'ページを離れます' } %>

<div class="space_110">

</div>