<div class="container">
<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>
</div>

<%= form_for(@p) do |f| %>
image
<%= f.label :fish_image %>
<%= f.file_field :fish_image %>

魚種
<%= f.text_field :fish_name, autofocus: true, placeholder:"魚種"%>
数
<%= f.text_field :count, autofocus: true %>
大きさ
<%= f.text_field :size, autofocus: true %>
<%= f.submit "投稿する" %>
<% end %>

<% @photos.each do |photos| %>
<%= image_tag photos.fish_image.to_s %>
<!-- <%= photos.fish_image %> -->
<%= photos.fish_name %>
<%= link_to "Show", post_image_path(photos.id) %>
<%= link_to "Destroy", post_image_path(photos.id),class:"btn-sm btn-danger", method: :delete,data: { confirm: '本当に消しますか？' } %>
<% end %>



<h2>gmap</h2>
<%=ENV['Maps_JavaScript_API']%>

<!-- 地名入力用のinputを追加 -->
<input id="address" type="textbox" value="DMM WEBCAMP 難波">

<!-- buttonをクリックしたらcodeAddressを実行　-->
<input type="button" value="Encode" onclick="codeAddress()">
<div id='map'>
</div>

<style>
#map{
  height: 600px;
}
</style>


<script>
/*
mapを関数の外で定義(codeAddressでも使うため)
geocoderを用意
*/

let map
let geocoder

var marker = [];

var center = [
<% @photos.each do |photos| %>
{
  lat: <%= photos.latitude %>, // 緯度
  lng: <%= photos.longitude %> // 経度
  },
<% end %>
];

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
  center: center[0], // 地図の中心を指定
  zoom: 14
  });


// マーカー毎の処理
for (var i = 0; i < center.length; i++) {
  markerLatLng = new google.maps.LatLng({lat: center[i]['lat'], lng: center[i]['lng']}); // 緯度経度のデータ作成
  marker[i] = new google.maps.Marker({ // マーカーの追加
      position: markerLatLng, // マーカーを立てる位置を指定
      map: map // マーカーを立てる地図を指定
   });
}
}



function codeAddress(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　　　　　　　　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);

　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>

<script src= <%= ENV['Maps_JavaScript_URL']%> async defer></script>