<div class="container">
<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>
</div>



<p>
大会名
<%= @group.group_name %>
</p>
<p>
参加ユーザー
<% @group_users.each do |g| %>
<%= image_tag g.image.to_s %>
<%= g.name %>
<% end %>
</p>

現時刻
<p>
<%= @time_now %>
</p>

<!-- 大会残り時間 -->
<p>残り<span class="countdown" data-date="<%= @time.end_time %>"></span></p>
<script>
window.addEventListener('load',()=>{
  Countdown();
})

const Countdown = function(){
  const cd_areas = document.getElementsByClassName('countdown');
  [...cd_areas].forEach(cd_area=>{
    const target_unix = new Date(cd_area.dataset.date)/1000;
    setInterval(()=>{
      const now_unix = Math.floor(new Date()/1000);
      let sec = target_unix-now_unix;
      let cd_text = '';
      if(sec>=86400){
        cd_text += Math.floor(sec/86400)+'日';
        sec = sec%86400;
      }
      if(sec>=3600){
        cd_text += td(Math.floor(sec/3600))+'時間';
        sec = sec%3600;
      }else{
        cd_text += '00時間';
      }
      if(sec>=60){
        cd_text += td(Math.floor(sec/60))+'分';
        sec = sec%60;
      }else{
        cd_text += '00分';
      }
      cd_text += td(sec)+'秒';
      cd_area.textContent = cd_text;
    },1000);
  });

  function td(x){
    if(x<10){
      return '0'+x;
    }else{
      return x;
    }
  }
}
</script>





<%= form_for(@p) do |f| %>

<%= f.label :fish_image %>
<%= f.file_field :fish_image %>

魚種
<%= f.text_field :fish_name, autofocus: true, placeholder:"魚種"%>
数
<%= f.text_field :count, autofocus: true %>
大きさ
<%= f.text_field :size, autofocus: true %>
<%= f.submit "投稿する" %>
<% end %>

<% @photos.each do |photo| %>
<%= image_tag photo.fish_image.to_s %>
<%= photo.fish_name %>
<%= link_to "Show", post_image_path(photo.id) %>
<%= link_to "Destroy", post_image_path(photo.id),class:"btn-sm btn-danger", method: :delete,data: { confirm: '本当に消しますか？' } %>
<% end %>


<h2>gmap</h2>
<%=ENV['Maps_JavaScript_API']%>

<!-- 地名入力用のinputを追加 -->
<input id="address" type="textbox" value="DMM WEBCAMP 難波">

<!-- buttonをクリックしたらcodeAddressを実行　-->
<input type="button" value="Encode" onclick="codeAddress()">
<div id='map'>
</div>

<style>
#map{
  height: 600px;
}
</style>


<script>
/*
mapを関数の外で定義(codeAddressでも使うため)
geocoderを用意
*/

let map
let geocoder

var marker = [];

var center = [
<% @photos.each do |photos| %>
{
  lat: <%= photos.latitude %>, // 緯度
  lng: <%= photos.longitude %> // 経度
  },
<% end %>
];

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
  center: center[0], // 地図の中心を指定
  zoom: 14
  });


// マーカー毎の処理
for (var i = 0; i < center.length; i++) {
  markerLatLng = new google.maps.LatLng({lat: center[i]['lat'], lng: center[i]['lng']}); // 緯度経度のデータ作成
  marker[i] = new google.maps.Marker({ // マーカーの追加
      position: markerLatLng, // マーカーを立てる位置を指定
      map: map // マーカーを立てる地図を指定
   });
}
}



function codeAddress(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　　　　　　　　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);

　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>

<script src= <%= ENV['Maps_JavaScript_URL']%> async defer></script>





<p><%= link_to '大会を終了して表彰ページへ',groups_path, class: "btn btn-default col-xs-12" %>
</p>